# Environment variables and secrets
.env

# JetBrains/IntelliJ project files
*.iml
.profile.iml
.profile


# Local data volumes and logs
warehouse-data/
airflow-db-data/
airflow-logs/
garage-data/
garage-meta/
logs/

# dbt packages and artifacts
dbt_packages/
dbt_modules/
target/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
